<h2>Contact</h2>
<div class="cont">
    <div class="leftside">
        <p>My Social Media handles</p>
        <ul class="socialmediaicons">
            <li><a target="_blank" href="https://www.facebook.com/EnUnChasquido"
                    rel="http://www.facebook.com/">Facebook<i class="fa 
      fa-facebook"></i></a></li>
            <li><a target="blank" href="https://www.instagram.com/" rel="https://www.instagram.com/">Instagram<i
                        class="fa fa-instagram"></i></a></li>

            <li><a target="blank" href="https://www.youtube.com/" rel="https://www.youtube.com/">Youtube<i
                        class="fa fa-youtube"></i></a></li>
        </ul>
    </div>
<div>
    <p>You can e-mail me on<br>
      swarikamaurya@gmail.com</p>
</div>
</div>